<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class='container'>

    <h2><%= title %></h2>

    <h4>Alarms</h4><button onclick="clearDiv()" class="btn btn-success">Clear</button><br><br>
    <div id="alarms"></div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/alarm.js"></script>

</html>